body {
  background-color: #FFCBBF;
  font-family: Arial, sans-serif;
}

#buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.convert-button {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#mp3-button {
  background-color: #FFA500;
}

#mp4-button {
  background-color: #FF8C00;
}

.convert-button:hover {
  transform: scale(1.1);
}
